/* General Styles */
body
{
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    background-image: url('https://imgs.search.brave.com/ZKDcC69lR2alp0mCy0WfIrqDGxI1kR2BTzw3FE5Iqos/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzg2L2Jm/L2Y4Lzg2YmZmOGQ5/NzViZjI5ZWU5MGNk/ZDZmYWI1MThkNGJl/LmpwZw');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    margin: 0;
    padding: 0;
}

.container
{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}

header {
    background-color: #00ff04be;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
    border-radius: 15px;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

#game-section {
    background-color: #0fb0d8b4;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(140, 16, 16, 0.1);
}

#level-info {
    margin-bottom: 20px;
}

#question-section p {
    font-size: 1.5em;
    text-align: center;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#options button {
    display: block;
    width: 80%;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

#options button:hover {
    background-color: rgba(224, 86, 12, 0.695);
}

#options button.correct {
    background-color: #4CAF50 !important;
    color: white;
}

#options button.incorrect {
    background-color: #d32f2fd1 !important;
    color: white;
}

#feedback {
    font-size: 1.2em;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

#restart {
    margin-top: 20px;
    font-size: 1.2em;
    color: green;
    text-align: center;
}

#reward-section {
    margin-top: 20px;
    font-size: 1.2em;
    color: gold;
    text-align: center;
}
